<div class="jumbotron">
  <h1>CITX API</h1>
  <p>The Citizen Experience API powers CivicOS by helping citizens understand who's doing what in the civic space.</p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/publicinnovation/citx-api">Fork me on GitHub</a></p>
</div>

<h2>Who's doing what?</h2>
<hr>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Categories</button>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Topics</button>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Goals</button>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Indicators</button>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Geographies</button>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Organizations</button>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Departments</button>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Programs</button>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<button type="button" class="btn btn-success btn-lg btn-block">Jurisdictions</button>
</div>
