<%= stylesheet_link_tag    "pages", media: "all", "data-turbolinks-track" => true %>

<div class="jumbotron">
  <h1>CITX API</h1>
  <p>The Citizen Experience API is powering the next generation of human-government interaction.</p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/publicinnovation/citx-api">Fork me on GitHub</a></p>
</div>

<h2>What are you looking for?</h2>
<hr>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/categories">Categories</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/topics">Topics</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/goals">Goals</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/indicators">Indicators</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/services">Services</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/geographies">Geographies</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/organizations">Organizations</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/departments">Departments</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/programs">Programs</a>
</div>

<div class="col-sm-6">
	<a class="btn btn-success btn-lg btn-block" href="/jurisdictions">Jurisdictions</a>
</div>
